*{
	padding:0;
	margin:0;
}

body{
	background-image:url(Untitled-1.jpg);
	background-attachment:fixed;
	background-position:top;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:scroll;
}


/*News*/
#part1{
	padding-top:12vh;
	padding-bottom:12vh;
}

.article{
	background-image:url(../1.jpg);
	background-size:cover;
	height:44vh;
	transition: all 0.3s ease-in-out;
}

.article:hover, .article:active{
	left:0;
	transform: scale(1.1,1.1);
	transition: all 0.3s ease-in-out;
}

.row{
	margin:0;
	padding:0;
	overflow:hidden;
}

.article:hover .topic-sm, .article:active .topic-sm, .article:hover .topic-big, .article:active .topic-big{
	color:#F07700;
}

.article:hover .topic-big, .article:active .topic-big{
	padding-left: 3vw;
	transition: all 0.3s ease-in-out;
}

.topic, .topnews{
	color:#FFFFFF;
}

.topic-sm{
	font-size:4vh;
}

.topic-big .head, .topnews{
	font-size:7vh;
}

.topic-big, .topic-sm{
    position: absolute;
    bottom: 0;
	padding-left:2vw;
	padding-bottom:5vh;
}

#morenews, #bignews{
	margin:0;
	padding:0;
}

.topnews{
	margin-left:1vw;
}

.news{
	height:11vh;
	border-bottom:2px solid red;
	border-left:5px solid red;
}

.newswrite{
	padding-left:1vw;
	padding-top:2vh;
	font-size:3vh;
	color:#FFFFFF;	
	transition: all 0.3s ease-in-out;
}

.newswrite:hover, .newswrite:active{
	font-size:3.5vh;
	transition: all 0.3s ease-in-out;
	color:red;	
}



.parts{
	height:70vh;
}

/*#part2{
	margin-top:5vh;
}*/

#carouselExampleIndicators{
	z-index:50;
	height:55vh;
	overflow:hidden;
}

#part2 h1{
	color:white;
}

#part2{
	text-align:center;
	vertical-align:middle;
	display:inline-block;
}

#part2 div{
	display:inline-block;
	margin-top:0vh;
}

#part2 div .VS, #part2 div h4{
	color:#FFF;
	padding-left:0.5vw;
	padding-right:0.5vw;
	display:inline-block;
	height: 6vh;
	line-height: 6vh;
	white-space: nowrap;
}

#part2 img{
	margin-top:0vh;
	width:4.5vw;
	height:auto;
	display:inline-block;
}



#part3 div{
	margin:0;
	padding:0;	
	height:88vh;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0.3)); /*Standard*/
 }

#follow{
	z-index:1;
	text-align:center;
}

#follow h1{
	padding-top:20vh;
	font-size:10vh;
	color:white;
}