*{
	padding:0;
	margin:0;
}

body{
	background-image:url(Untitled-1.jpg);
	background-attachment:fixed;
	background-position:top;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:scroll;
}

.navbar-default{
	background-color: -webkit-linear-gradient(#3B3B3B, black); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(#3B3B3B, black); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(#3B3B3B, black); /* For Firefox 3.6 to 15 */
	background-color:linear-gradient(#3B3B3B, black);
	border-bottom:4px solid #C70003;
	height:12vh;
}

.navbar-nav{
	margin-top:auto;
	margin-bottom:auto;
	margin-left: auto;
    margin-right: auto;
}

.navbar-nav .nav-item{
	padding-top:1.25vh;
	height:11.25vh;
}

.navbar-nav .nav-item:hover, .navbar-nav .nav-item:active{
	background-color:#D3D3D3;
}

.navbar-nav .nav-item .nav-link{
	margin-left:2vw;
	margin-right:2vw;
	padding-top:1.75vh;
	margin-top:auto;
	margin-bottom:auto;
	font-size:3vh;
	color:white;
}

.navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:hover{
	color:#880002;
}

.navbar #hidden{
	display:none;
}

#logo{
	margin-left:2vw;
	margin-right:2vw;
	padding-top:0vh;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:0;
	height:10vh;
	width:auto;
}

/*News*/
#part1{
	padding-top:12vh;
}

.article{
	background-image:url(../1.jpg);
	background-size:cover;
	height:44vh;
	transition: all 0.3s ease-in-out;
}

.article:hover, .article:active{
	left:0;
	transform: scale(1.1,1.1);
	transition: all 0.3s ease-in-out;
}

.row{
	margin:0;
	padding:0;
	overflow:hidden;
}

.article:hover .topic-sm, .article:active .topic-sm, .article:hover .topic-big, .article:active .topic-big{
	color:#F07700;
}

.article:hover .topic-big, .article:active .topic-big{
	padding-left: 3vw;
	transition: all 0.3s ease-in-out;
}

.topic, .topnews{
	color:#FFFFFF;
}

.topic-sm{
	font-size:4vh;
}

.topic-big .head, .topnews{
	font-size:7vh;
}

.topic-big, .topic-sm{
    position: absolute;
    bottom: 0;
	padding-left:2vw;
	padding-bottom:5vh;
}

#morenews, #bignews{
	margin:0;
	padding:0;
}

.topnews{
	margin-left:1vw;
}

.news{
	height:11vh;
	border-bottom:2px solid red;
	border-left:5px solid red;
}

.newswrite{
	padding-left:1vw;
	padding-top:2vh;
	font-size:3vh;
	color:#FFFFFF;	
	transition: all 0.3s ease-in-out;
}

.newswrite:hover, .newswrite:active{
	font-size:3.5vh;
	transition: all 0.3s ease-in-out;
	color:red;	
}




#part2{
	margin-top:5vh;
}

#carouselExampleIndicators{
	height:55vh;
	overflow:hidden;
}

#part2 div h1{
	text-align:center;
	height:5vh;
	color:#FFF;
}

#part2 div{
	text-align:center;
	vertical-align:middle;
}

#part2 div div{
	display:inline-block;
}

#VS{
	margin-top:-2vh;
	margin-left:2vw;	
	margin-right:2vw;	
}

#part2 div div img{
	margin-top:3vh;
	width:10vw;
	height:auto;
}

#part2 div div h4{
	text-align:center;
	height:5vh;
	color:#FFF;
}



#part3 div{
	margin:0;
	padding:0;	
	height:88vh;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0.3)); /*Standard*/
 }

#follow{
	z-index:1;
	text-align:center;
}

#follow h1{
	padding-top:20vh;
	font-size:10vh;
	color:white;
}